*{
	text-decoration: none !important;
	font-family:system-ui;
}


nav {
	color: white;
	background-color: #993333 !important;
	text-align: center;
	height:75px;
	margin-bottom: 10PX;
}

nav > ul > li > a {
	color: white !important;
	text-decoration: none;
}

nav > ul {
	list-style: none;
}

figcaption {
	text-align: center; font-size: 30px;
	width: 500px;
}

.fotochen {
	height: 300px; !important;
	width: 500px; !important;
	border-radius: 18px;
}

.nebeneinander {
	display: flex;
	justify-content:center;
}

.nebeneinander > * {
	display: block;

}


.volle-breite {
	width: 100%;
}


table, th, td {
	border: 1px solid #040;
	border-collapse: collapse;
	border-color: white;
	background-color: #B04431;
	color: white;
	text-align: center;
}

table {
	text-align: center;
}

th {
	width: 280px;
}

figcaption {
	font-size: 18px;
	text-align: center;
}
	
.Bild {
	height: 400px;
	width: 600px;
}

.zurückbutton {
	height: 40px;
	width: 60px;
	display: inline-block;
	text-decoration: none;
	background-color:#B04431;
	border:transparent;
	border-radius:5px;
	position:absolute;
	top:100px;
	right:50px;	
}
.zurückbutton a{
	color:white;
}

.impressum {
	text align: center !important;
}


 body {
	 margin-left: 50px;
	 margin-right: 50px;
 }
 .Wasserbild{
	width:100%;
 }
 .Infotext{
	width:35%;
	height:auto;
	align-self:right;
	vertical-align: center;
	line-height: 25px;
	background-color:white;
	position:absolute;
	left:90px;
	top:200px;
	border:2px solid black;
	border-radius:18px;
	padding: 5px;
 }

 .Steckbrief {
	line-height: 25px;
 }


 